In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('/content/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [4]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [7]:
#Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['BP'] = le.fit_transform(df['BP'])
df['Cholesterol'] = le.fit_transform(df['Cholesterol'])
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   0            0   25.355  DrugY
1   47    1   1            0   13.093  drugC
2   47    1   1            0   10.114  drugC
3   28    0   2            0    7.798  drugX
4   61    0   1            0   18.043  DrugY

In [9]:
# Splitting the data
x = df.iloc[:,0:5].values
y = pd.get_dummies(df['Drug']).values

In [10]:
# Split training and testing data
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=30)

In [11]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((160, 5), (40, 5), (160, 5), (40, 5))

In [12]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(32, activation='relu', input_dim=xtrain.shape[1]))
model.add(Dense(64, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(5, activation='softmax'))

In [13]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [14]:
print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                192

 dense_1 (Dense)             (None, 64)                2112

 dense_2 (Dense)             (None, 64)                4160

 dense_3 (Dense)             (None, 5)                 325

=================================================================
Total params: 6,789
Trainable params: 6,789
Non-trainable params: 0
_________________________________________________________________
None

In [15]:
model.fit(xtrain,ytrain,epochs=10,batch_size=16,validation_data=(xtest,ytest))

Epoch 1/10
10/10 [==============================] - 2s 50ms/step - loss: 3.2314 - accuracy: 0.3000 - val_loss: 2.6139 - val_accuracy: 0.4000
Epoch 2/10
10/10 [==============================] - 0s 8ms/step - loss: 1.7285 - accuracy: 0.4938 - val_loss: 1.4438 - val_accuracy: 0.5000
Epoch 3/10
10/10 [==============================] - 0s 9ms/step - loss: 1.1997 - accuracy: 0.5688 - val_loss: 1.2058 - val_accuracy: 0.5000
Epoch 4/10
10/10 [==============================] - 0s 8ms/step - loss: 1.1175 - accuracy: 0.5562 - val_loss: 1.1334 - val_accuracy: 0.5750
Epoch 5/10
10/10 [==============================] - 0s 9ms/step - loss: 1.0388 - accuracy: 0.5625 - val_loss: 1.0933 - val_accuracy: 0.5500
Epoch 6/10
10/10 [==============================] - 0s 10ms/step - loss: 1.0320 - accuracy: 0.5813 - val_loss: 1.0625 - val_accuracy: 0.5500
Epoch 7/10
10/10 [==============================] - 0s 9ms/step - loss: 0.9917 - accuracy: 0.5813 - val_loss: 1.0879 - val_accuracy: 0.5750
Epoch 8/10
10/10 [==============================] - 0s 9ms/step - loss: 1.0218 - accuracy: 0.5750 - val_loss: 1.0271 - val_accuracy: 0.5500
Epoch 9/10
10/10 [==============================] - 0s 10ms/step - loss: 0.9979 - accuracy: 0.5938 - val_loss: 1.0621 - val_accuracy: 0.5750
Epoch 10/10
10/10 [==============================] - 0s 19ms/step - loss: 0.9626 - accuracy: 0.5875 - val_loss: 1.0107 - val_accuracy: 0.5750

In [21]:
random_data = np.array([[20, 'F', 'LOW', 'NORMAL', 28]])
random_data[:, 1] = le.fit_transform(random_data[:, 1])
random_data[:, 2] = le.fit_transform(random_data[:, 2])
random_data[:, 3] = le.fit_transform(random_data[:, 3])

random_data = random_data.astype(float)
random_data

array([[20.,  0.,  0.,  0., 28.]])

In [20]:
prediction = model.predict(random_data)
predicted_class = le.inverse_transform([np.argmax(prediction)])[0]
print("Predicted Drug Class -", predicted_class)

1/1 [==============================] - 0s 25ms/step
Predicted Drug Class - NORMAL